#contact{
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}
.contact-card{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10%;
    gap:5%;
}
.content-card{
    background-color: #819A91;
    color:#EEEFE0 ;
    padding: 10%;
    width: 50%;
}

.contact-form input{
     width: 100%;
    border:none;
    border-bottom: 2px solid #EEEFE0 ;
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
    
}

.contact-form label{
    margin-top: 4px;
}

.contact-form button{
    width: 100%;
    border:none;
    padding: 4%;
    margin-top: 6%;
    color:#819A91;
    background-color:#EEEFE0;
}

img{
    margin-left: 15%;
    width: 70%;
}
@media only screen and (max-width: 600px) {
    .contact-card{
        font-size: small;
        display: flex;
        flex-direction: column;
    }
    .content-card{
        width:90%;
    }


    .contact-form{
        width:100%;
    }
    .img-card{
        margin: 0;
        text-align: center;
    }
}
