
li{
    text-decoration: none;
    list-style: none;
    padding: 4%;
}
a{
    text-decoration: none;
    color:#EEEFE0;
}
#footer{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: #819A91;
    
}
.my-icon-footer{
    color: #000000;
}

@media only screen and (max-width: 600px){
    .my-icon-footer{
        color: #EEEFE0;
        width: 10%;
        margin-left: 50%;
    }
    #footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

    }
}