.navbar{
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 2%;
    position: fixed;
    background-color: #EEEFE0;
    width: 100%;
}
.navbar a{
    color:#819A91;
    text-decoration: none;
    padding: 3px;
    position: relative;
}

.navbar a::after{
    content: "";
    width: 0%;
    height: 5px;
    background-color: #819A91;
    position: absolute;
    bottom:0;
    left:0;
    transition: 0.5s ease-in-out;
}

.navbar a:hover::after{
    width: 100%;
}


.links-li{
    display: flex;
    justify-content: space-between;
    gap: 20%;
    
}
li{
    text-decoration: none;
    list-style: none;
    
}
.my-icon{
    width:3%;
}

