.navbar{
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #EEEFE0;
    width: 100%;
}
.navbar a{
    color:#819A91;
    text-decoration: none;
    padding: 3px;
    position: relative;
}

.navbar a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #819A91;
    position: absolute;
    bottom:0;
    left:0;
    transition: 0.5s ease-in-out;
}

.navbar a:hover::after{
    width: 100%;
}


.links-li{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    
}
li{
    text-decoration: none;
    list-style: none;
    
}
.my-icon{
    width:3%;
}

@media only screen and (max-width: 600px) {
    .navbar{
        align-items: center;
        font-size: x-small;
        background-color:#EEEFE0;
        
    }
    .links-li{
        font-size:x-small;
        gap: 2%
    }

    .my-icon{
        width:10%;
    }
}